interface {{ component }}Props {

    children?: React.ReactNode;

}


export default function {{ component }}(
    {
        children
    }: {{ component }}Props
) {

    return (

        <div>

            {children}

        </div>

    );

}