"use client";


export default function {{ form }}() {


    return (

        <form>


            <input
                placeholder="{{ form }}"
            />


            <button
                type="submit"
            >

                Opslaan

            </button>


        </form>

    );

}