export class PdfService {


    async generate(
        template: string,
        data: unknown
    ) {


        return {

            template,

            data,

            generated: true

        };


    }


}