import { z } from "zod";


export const {{ schema }}Schema = z.object({

    id:
        z.string()
        .optional(),


    name:
        z.string()
        .min(1),


});


export type {{ schema | capitalize }}Input =
    z.infer<typeof {{ schema }}Schema>;