export default function DashboardPage() {

  return (

    <main>

      <h1>
        Dashboard
      </h1>


      <p>
        {{ project.name }}
      </p>


      <div>

        <div>
          Projecten
        </div>

        <div>
          Klanten
        </div>

        <div>
          Werkbonnen
        </div>

        <div>
          Planning
        </div>

      </div>

    </main>

  );

}