{
  "name": "{{ project.name | lower | replace(' ', '-') }}",
  "version": "{{ project.version }}",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "next": "latest",
    "react": "latest",
    "react-dom": "latest",
    "@prisma/client": "latest",
    "next-auth": "latest"
  },
  "devDependencies": {
    "prisma": "latest",
    "typescript": "latest"
  }
}