export default function ReportsPage() {

  return (

    <main>

      <h1>
        Rapportages
      </h1>


      <p>
        {{ project.name }}
      </p>


      <section>

        <h2>
          Rapport overzicht
        </h2>


        <div>
          Project rapportages
        </div>

        <div>
          Werkbon rapportages
        </div>

        <div>
          Materiaal rapportages
        </div>

        <div>
          Financiële rapportages
        </div>


      </section>


    </main>

  );

}