export default function ProjectsPage() {

  return (

    <main>

      <h1>
        Projecten
      </h1>


      <p>
        {{ project.name }}
      </p>


      <button>
        Nieuw project
      </button>


      <section>

        <h2>
          Project overzicht
        </h2>


        <p>
          Hier komen alle projecten.
        </p>

      </section>


    </main>

  );

}