export default function PlanningPage() {

  return (

    <main>

      <h1>
        Planning
      </h1>


      <p>
        {{ project.name }}
      </p>


      <button>
        Nieuwe afspraak
      </button>


      <section>

        <h2>
          Kalender
        </h2>


        <p>
          Hier komt de monteursplanning.
        </p>

      </section>


    </main>

  );

}